html{
    /* background-color: #abb1cf; */
    color:#212732;

}
h1{
    color:#f7cac9;
}
h2{
    color:#dec2cb;
}
h3{
    color:#c5b9cd;
}
h4{
    color:	#abb1cf;
}
h5{
    color:#92a8d1
}
p{
    /* background-color: #92a8d1; */
}
pre{
    white-space: pre-wrap;
    
}

.hsmkt{
    color:#316745;
    font-weight: bold;
}
.krkr{
    color:#E83929;
    font-weight: bold;
}
.kzksm{
    color:#5654A2;
    font-weight: bold;
}